body {
  text-align: center;
  border-color: gray;
  font-family: "Roboto", sans-serif;
}
.container {
  text-align: center;
}

.weather-app {
  border: 1px solid #d8d7d7;
  margin: 20px auto;
  max-width: 400px;
  padding-bottom: 30px;
  border-radius: 15px;
  background-image: url("https://images.unsplash.com/photo-1558486012-817176f84c6d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=740&q=80");
}

.change-city {
  padding-top: 40px;
}

.city-name {
  position: relative;
  bottom: -3px;
}

.city {
  color: #00204a;

  font-size: 50px;
  padding-top: 20px;
  margin-bottom: 0;
}

.current-time,
.details,
.temperature-now,
.row,
.description {
  color: #1b3764;
}

.temperature-now {
  font-size: 50px;
}
#fahrenheit,
#celsius {
  font-size: 20px;
  text-decoration: none;
  cursor: default;
  color: black;
}
#fahrenheit:hover,
#celsius:hover {
  color: gray;
}
.units {
  position: relative;
  top: -20px;
}

.details {
  padding-bottom: 20px;
  padding-top: 0;
}
.col {
  line-height: 0;
}

.weather-forecast {
  padding-top: 10px;
  text-align: center;
}

.weatherforecast-date {
  position: relative;
  left: -100px;
}

.weatherforecast-temp {
  position: relative;
  right: -100px;
  top: -43px;
}
.weather-forecast-icon {
  position: relative;
  top: -25px;
  left: 5px;
}
.min-temp {
  position: relative;
  left: 10px;
}
small {
  position: relative;
  top: -20px;
}

.description {
  text-transform: capitalize;
}
